body {
    min-height: 90vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: rgba(235, 224, 224, 0.737);
}


.rating-select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.rating-select option {
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}


.rating-select option:checked {
    background-color: #007bff;
    color: #fff;
}

h1 {
    text-align: center;
    color: #282626;
}

.thank-you-container p {
    text-align: center;
}

form,
#feedback-list {
    background-color: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.15),
        0 5px 10px rgba(0, 0, 0, 0.08);
}

.feedback-item {
    margin-bottom: 15px;
}


input,
textarea {
    width: 98%;
    padding: 4px;
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.18),
        0 6px 12px rgba(0, 0, 0, 0.1);

}

.thank-you-message {
    font-size: 24px;
    font-weight: bold;
    color: #00698f;
}

.thank-you-text {
    font-size: 18px;
    color: #666;
}

.thank-you-button {
    background-color: #00698f;
    color: #fff;
    padding: 10px 20px;
    margin: 50px 470px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .thank-you-button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }
}

.thank-you-button:hover {
    background-color: #0088cc;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #ccc;
}

nav .active {
    color: #ccc;
}
